.afficherdiv{
    border:1px solid black;
}

/*=====-----DISPOSITION ET TAILLES-----=====*/

/*==--HEADER--==*/
h1, header{
    float: inherit;
}
header h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

header p{
    margin-bottom: 50px;
}

/*==--NAV--==*/
ul{
    list-style: none;
    text-align: center;
}

li{
    display: inline;
    margin-left: 20px;
}

/*==--ABOUT ME--==*/
.spanAbout{
    font-size: 40px;
}

.hauteurP1{
    height: 125px;
}

.articleDiagramme{
    margin-bottom: 40px;
}

#About_me{
    padding-bottom: 50px;
}

/*==--EXPERIENCES--==*/
.articleXP{
    margin-bottom: 40px;
}

#Professional_experiences{
    padding-bottom: 50px;
}

/*==--SKILLS--==*/

#Skills{
    padding-bottom: 50px;
}

/*==--CONTACT ME--==*/
.articleform{
    margin-bottom: 40px;
}
.formulaire{
    height: 30px;
}

.ligneformulaire{
    margin-bottom: 10px;
}

textarea{ 
    resize:none;
}

/*==--FOOTER--==*/


/*=====-----COULEURS ET POLICES-----=====*/
.premier{
    background-color: #FFFFFF;
}

.deuxieme{
    background-color: #E5E5E5;
}

/*==--HEADER--==*/
h1{
    color: #5CB85C;
}

/*==--NAV--==*/
ul{
    font-family:    Comic Sans MS;
}

nav{
    background-color: #484A4C;
}
    
nav a{
    color: #FFFFFF;
}

nav a:hover{
    color: #5CB85C;
    background: #484A4C;
}



/*==--ABOUT ME--==*/
.spanAbout{
    color: #5CB85C;
}

/*==--EXPERIENCES--==*/
h4{
    font-size:14px;
}

section a:hover{
    color : #5CB85C;
    background-color: #eee;
}

/*==--SKILLS--==*/
section a{
    color:black;
}


/*==--CONTACT ME--==*/

/*==--FOOTER--==*/